@import "color-definition.scss";
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500|Fredericka+the+Great');

$heading-font: 'Fredericka the Great', cursive;
$serif-font: 'Alegreya', serif;

h1 {
  font-family: $heading-font !important;
  font-size: 6rem !important;

  @media (max-width: 720px) {
    font-size: 4em !important;
    letter-spacing: -1px;
  }
}

.btn {
  cursor: pointer;
}

body {
  background-color: $light !important;
  color: $dark !important;
  font-family: $serif-font;
}

#top-navigation {
  background-color: $dark;
}

#header {
  background-color: $primary;

  h1 {
    line-height: 4rem;

    @media (max-width: 720px) {
      line-height: 3rem;
    }
  }

  h2 {
    font-size: 2em;
    line-height: 1rem;
    text-transform: uppercase;

    @media (max-width: 720px) {
      font-size: 1.5em;
      line-height: 2rem;
    }
  }

  .subtitle {
    font-size: 2em;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-size-adjust: none;
  }
}

#footer {
  background-color: lighten($primary, 6%);
}

.sub-nav {
  background-color: lighten($primary, 9%);
  border-top: solid 1px $secondary;
  .nav-link {
    color: darken($secondary, 15%);
  }
}

.navbar {
  width: 100%;
  background: none !important;

  .nav-item {
    padding-top: 2.5px;
    padding-left: 10px;
  }

  .nav-link {
    font-weight: bold;
    cursor: pointer;
  }

  .dropdown-menu {
    border: none;
    padding: 0.2em 0.25em;
    min-width: 5rem;
    margin: 0.25em;
  }

}

h3.sub-title {
  font-family: $heading-font;
  font-size: 1.5em;
}

.index-panel {
  border-radius: 10px;

  h3 {
    font-family: $heading-font;
    font-size: 1.5em;
  }

  p {
    line-height: 1.2rem;
    letter-spacing: 1.1px;
    font-style: italic;
  }

  a {
    font-weight: bold;
  }

  li {
    line-height: 1.2;
    margin-bottom: 4px;
  }
}

.fg-panel {
  border-radius: 70px;
  background-color: $primary !important;
  color: $light;
  position: sticky;
}

.dl-panel {
  border-color: $primary !important;
}

.card-footer {
  border-top: none;
  padding-bottom: 1rem;
  background-color: transparent !important;
}

.page-header {
  border-bottom: 2px solid #e5e5e5
}

img.logo {
  width: 100%;
}

.jumbotron {
  border-bottom: solid graytext 1px;
  background-color: #cccccc;
}

label {
  margin-bottom: 0;
}

.btn {
  color: $secondary;
}

.alert-light {
  background-color: $light !important;
  color: $primary;
}

.admin-user-name {
  letter-spacing: 1.1px;
  font-weight: bold;
}

.btn-vote {
  width: 2em;
  height: 2em;
  border-radius: 0;
}

.panel-vote {
  width: 90%;
}

.punchline-month {
  font-family: $heading-font;
  color: $primary;
}

.guest-panel {
  border-radius: 4px;
}

.guest-panel-green {
  background-color: rgba($green, .4);
}

.guest-panel-orange {
  background-color: rgba($orange, .4);
}

.guest-panel-red {
  background-color: rgba($red, .4);
}

.sub-nav-dropdown {
  background-color: lighten($primary, 9%) !important;
}

.ribbon-warning {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon-warning span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(lighten($primary, 9%), $primary);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon-warning span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.ribbon-warning span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.ribbon-new {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon-new span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon-new span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.ribbon-new span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.disabled-link {
  cursor: not-allowed;
  text-decoration: none !important;
}

.ci-user {
  font-family: $heading-font;
  color: $primary;
}

.ci-ranking-first {
  height: 3em;
}

.dl-title {
  font-family: $heading-font;
  color: $primary;
  font-size: 20px;
  line-height: 1em;
  font-style: italic;
}

.dl-joker {
  font-family: $heading-font;
  font-weight: 500;
  color: $primary;
}

.dl-dead {
  text-decoration: line-through;
}

.ps-disabled {
  opacity: .65;
}

.ps-panel-vote {
  width: 80%;
}

.cm18-title {
  font-size: 20px;
  font-family: $heading-font;
  color: $primary;
}

.css-title {
  font-size: 2rem;
  font-family: $heading-font;
  color: $primary;
}

.hidden {
  display: none;
}

.jeudi-title {
  font-family: $heading-font;
  color: $primary;
}