{% if bet is not null %}
   <td>{{ bet.betHome }} - {{ bet.betAway }}</td>
    <td>
        {% if bet.points > 0 %}
            <i class="fas fa-check"></i>
        {% else %}
            <i class="fas fa-times"></i>
        {% endif %}
    </td>
    <td>
        {% if bet.game.scoreHome == bet.betHome and bet.game.scoreAway == bet.betAway %}
            <i class="fas fa-thumbs-up"></i>
        {% endif %}
    </td>
    <td>
        {{ bet.points }}
    </td>
{% else %}
    <td colspan="3" align="center"><small><em>Aucun pronostic enregistré pour ce match.</em></small></td>
    <td>0</td>
{% endif %}