{% extends 'ServiceJFChallengeCM18Bundle::layout.html.twig' %}

{% block body_subtitle %}
    classement général
{% endblock %}

{% block body_content %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <h4 class="cm18-title" align="center">
            La compétition n'a pas encore débuté.<br/>Reviens plus tard pour voir le classement !
        </h4>
    </div>
</div>
{% endblock %}