{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }}la dead list
{% endblock %}

        {% block header_padding %}
<div class="py-4">
    {% endblock %}

    {% block body_title %}la dead list{% endblock %}

    {% block sub_nav_content %}
    {{ include('ServiceJFChallengeDLBundle::body_nav.html.twig') }}
    {% endblock %}

    {% block body %}
        <div class="container">
            <div class="row pt-4">
                {% block body_content %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}