security:
  encoders:
    ServiceJF\UserBundle\Entity\User: sha512

  role_hierarchy:
    ROLE_ADMIN:       ROLE_USER, ROLE_CSS, ROLE_CI
    ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH, ROLE_JEUDI_ADMIN]

  providers:
    main:
      id: fos_user.user_provider.username

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      pattern: ^/
      anonymous: true
      provider: main
      form_login:
        login_path: fos_user_security_login
        check_path: fos_user_security_check
      logout:
        path: fos_user_security_logout
        target: fos_user_security_login
      remember_me:
        secret: "%secret%"
      logout_on_user_change: true

  access_control:
    - { path: ^/admin, roles: ROLE_ADMIN }
    - { path: ^/(login$|resetting), role: IS_AUTHENTICATED_ANONYMOUSLY}
    - { path: ^/fg, roles: ROLE_USER }
    - { path: ^/ci, roles: ROLE_USER }
    - { path: ^/dl, roles: ROLE_USER }
    - { path: ^/ps, roles: ROLE_USER }
    - { path: ^/ss/games, roles: ROLE_CSS }
    - { path: ^/ss, roles: ROLE_USER }
    -
        path: ^/cm18
        roles:
            - ROLE_USER
            - ROLE_CM18_GUEST
    -
        path: ^/jeudi
        roles:
            - ROLE_USER
            - ROLE_JEUDI_GUEST
    - { path: ^/jeudi/admin, roles: ROLE_JEUDI_ADMIN }
    - { path: ^/ch, roles: ROLE_USER }