# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: true

    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }

    servicejf_challengedl.gamePhase:
        class: ServiceJF\ChallengeDLBundle\GamePhase\GamePhase
        arguments:
            - '@doctrine.orm.entity_manager'

    servicejf_challengedl.frontEnd:
        class: ServiceJF\CoreBundle\Services\dlFrontEnd

    servicejf_challengedl.pointsChecker:
        class: ServiceJF\ChallengeDLBundle\GamePhase\PointsChecker
        arguments:
            - '@doctrine.orm.entity_manager'

    servicejf_challengedl.updatePoints:
        class: ServiceJF\ChallengeDLBundle\Ranking\UpdatePoints
        arguments:
            - '@doctrine.orm.entity_manager'