<li class="nav-item">
    <a class="nav-link" href="{{ path('servicejf_challengech_homePage') }}">Saisir ses pronos</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('servicejf_challengech_generalRanking') }}">Voir le classement</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('servicejf_challengech_faq') }}">Lire le règlement</a>
</li>