{% extends 'ServiceJFUserBundle::layout.html.twig' %}

{% block body_subtitle %}
    modifier
{% endblock %}

{% block fos_user_content %}
                {{ form_start(form, { 'action': path('fos_user_profile_edit') }) }}
                {{ form_widget(form) }}
                <div class="d-flex flex-row-reverse">
                    <input type="submit" value="Modifier" class="btn btn-primary text-light"/>
                </div>
                {{ form_end(form) }}
    <div class="mt-2">Pour modifier son mot de passe, merci de demander aux joyeux organisateurs.</div>

{% endblock %}