{{ form_start(formSeason) }}
{{ form_widget(formSeason.season) }}
<button type="submit" class="btn btn-primary btn-sm text-light"><i class="fas fa-check"></i> Valider</button>
{{ form_rest(formSeason) }}
{{ form_end(formSeason) }}