{% extends 'ServiceJFAdminBundle::layout.html.twig' %}

{% block body_subtitle %}
    dead list - créer une personnalité
{% endblock %}

{% block body_content %}
    <div class="container my-4">
        {{ form(form) }}
    </div>
{% endblock %}