{% extends 'ServiceJFAdminBundle::layout.html.twig' %}

{% block body_subtitle %}
    mondial 2018
{% endblock %}

{% block body_content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-8 offset-4">
                <ul class="list-unstyled">
                    {% for game in games %}
                        <li class="list-item"><a href="{{ path('servicejf_admin_cm18_editGame', { game : game.id }) }}">{{ game.teamHome.name }} - {{ game.teamAway.name }}</a></li>
                    {% else %}
                        <li class="list-item dl-title">Aucun score à saisir pour le moment.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}