{% extends 'ServiceJFAdminBundle::layout.html.twig' %}

{% block body_subtitle %}mondial 2018 {% endblock %}

{% block body_content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                {{ dump(mails) }}
            </div>
        </div>
    </div>
{% endblock %}