{% extends 'ServiceJFChallengeDLBundle::layout.html.twig' %}

{% block body_subtitle %}enregistrer ses paris{% endblock %}

{% block body_content %}
    <div id="countdown" class="col-12 col-md-4">
        <div class="card border-1 dl-panel text-center py-md-3 mb-4">
            Plus que <br/>{{ countdown|date("%d jours, %h heures, %i minutes") }} <br/>pour parier.
        </div>
    </div>
    <div class="col-md-8 col-12">
        {% include 'ServiceJFChallengeDLBundle:bets:form.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script src="{{ asset('assets/js/dlNewAndSetbet.js') }}"></script>
{% endblock %}