$primary: #80231f;
$secondary: #0d1217;
$light: #eac67a;
$dark: #18121e;
$info: #57bc90;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #cd2832;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

//$primary: #984b43;
//$secondary: #233237;
//$light: #eac67a;
//$dark: #18121e;
//$info: #57bc90;