{% extends 'ServiceJFAdminBundle::layout.html.twig' %}

{% block body_subtitle %}
    envoyer un message
{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="mt-4">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}