<li class="nav-item">
    <a class="nav-link" href="{{ path('servicejf_challengefg_homepage') }}">Toutes les punchlines</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('servicejf_challengefg_best') }}">Les meilleures punchlines</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('servicejf_challengefg_write') }}">Poster une punchline</a>
</li>